In [2]:
import numpy as np
import pandas as pd

In [4]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

In [10]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
data = iris.copy()

def get_means(df):
    numeric = df._get_numeric_data()
    means = pd.DataFrame(numeric.mean()).reset_index()
    return means

mean_df = get_means(data)
mean_df.head()

          index         0
0  sepal_length  5.843333
1   sepal_width  3.054000
2  petal_length  3.758667
3   petal_width  1.198667

In [7]:
data = iris.copy()

In [12]:
data

     sepal_length  sepal_width  petal_length  petal_width       iris_type
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
means_1 = pd.DataFrame(iris.mean()).reset_index()
means_1

          index         0
0  sepal_length  5.843333
1   sepal_width  3.054000
2  petal_length  3.758667
3   petal_width  1.198667

In [ ]:
data = iris.copy()

def get_means(df):
    numeric = df._get_numeric_data()
    means = pd.DataFrame(numeric.mean()).reset_index()
    means.columns = ['Column', 'Mean']
    return means

mean_df = get_means(data)
mean_df.head()